@import 'fumadocs-ui/style.css';

:root {
  --color-fd-background: 18 18 27;
  --color-fd-foreground: 250 250 250;
  --color-fd-muted: 63 63 70;
  --color-fd-muted-foreground: 161 161 170;
  --color-fd-popover: 39 39 42;
  --color-fd-popover-foreground: 250 250 250;
  --color-fd-card: 39 39 42;
  --color-fd-card-foreground: 250 250 250;
  --color-fd-border: 63 63 70;
  --color-fd-primary: 124 58 237;
  --color-fd-primary-foreground: 250 250 250;
  --color-fd-secondary: 63 63 70;
  --color-fd-secondary-foreground: 250 250 250;
  --color-fd-accent: 139 92 246;
  --color-fd-accent-foreground: 250 250 250;
  --color-fd-ring: 124 58 237;
}
